.random-planet,
.item-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 0;

    &__img {
        display: inline-block;
        margin-right: 30px;
        width: auto;
        max-height: 150px;
        border-radius: 10px;

        @media screen and (max-width: 420px) {
            margin-right: 15px;
        }
    }

    &__info {
        flex-grow: 2;
    }

    &__info ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: 15px;

        @media screen and (max-width: 420px) {
            margin-left: 0;
        }
    }

    &__info li {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}