body {
    font-family: 'Roboto', Arial, sans-serif;
    color: #fff;
    background-color: #231f20;
}

a {
    color: #d7d98e;
    text-decoration: none;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.col {
    padding: 8px !important;
}