@keyframes lds-double-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes lds-double-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes lds-double-ring_reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
@-webkit-keyframes lds-double-ring_reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
.lds-double-ring {
    position: relative;
}
.lds-double-ring div {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    border: 8px solid #000;
    border-color: #1d3f72 transparent #1d3f72 transparent;
    -webkit-animation: lds-double-ring 1s linear infinite;
    animation: lds-double-ring 1s linear infinite;
}
.lds-double-ring div:nth-child(2) {
    width: 140px;
    height: 140px;
    top: 30px;
    left: 30px;
    border-color: transparent #5699d2 transparent #5699d2;
    -webkit-animation: lds-double-ring_reverse 1s linear infinite;
    animation: lds-double-ring_reverse 1s linear infinite;
}
.lds-double-ring {
    width: 79px !important;
    height: 79px !important;
    -webkit-transform: translate(-39.5px, -39.5px) scale(0.395) translate(39.5px, 39.5px);
    transform: translate(-39.5px, -39.5px) scale(0.395) translate(39.5px, 39.5px);
}